##########
# React Native
##########

# macOS
.DS_Store

# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro / Haste
.metro-cache/
.haste-map-*

# Logs
logs
*.log
log.txt

# Environment files (keep secrets out of git)
.env
.env.*

##########
# iOS / Xcode / CocoaPods
##########

ios/build/
ios/DerivedData/
ios/*/Profile
ios/*/Release-iphoneos

# Xcode
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (keep Podfile and Podfile.lock committed)
ios/Pods/

##########
# Android / Gradle
##########

android/.gradle/
android/build/
android/app/build/
android/.idea/
*.iml
local.properties
*.keystore
*.jks
*.apk
*.aar
*.ap_
*.aab
*.hprof

##########
# Buck
##########

.buckd/
buck-out/

##########
# Fastlane
##########

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

##########
# Coverage / build artifacts
##########

coverage/
build/

##########
# Editors / IDEs
##########

.idea/
.vscode/
*.swp



amplify_outputs.json
amplify_outputs_dev.json
amplify_config.json